/*css*/

/* Header */
        
.large-header {
    position: relative;
    width: 100%;
    background: #333;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}
#large-header {
    background-image: url(../images/bg.jpg);
}
.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top: 45%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}
.demo-1 .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
}
.main-title .thin {
    font-weight: 200;
}
@media only screen and (max-width: 768px) {
    .demo-1 .main-title {
        font-size: 3em;
    }
}

img {
    margin-bottom: 30px;
    width: 250px;
}

p{
    color: white;
    text-shadow: 0 3px 6px #024758;
    font-family: "verdana";
    font-size: 20px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 3s steps(1000, end);
    font-size: 24px;
}

p:nth-child(2){
  animation: type2 3s steps(1000, end);
}

p a{
  color: white;
  text-decoration: none;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 1000; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}
